// app global css
h1{
    font-size:16px;
}
.customHeader{
display: flex;
justify-content: space-around;
}

.headerIcons,.headerIcons i {
    color: #444;
    vertical-align:top;
}
.usercard{
    border:1px solid #ccc;
    background-color:#fff;
}
.maincard{
    background-color:#fff;
}
body{
 background-color:#f7fdff;   
}
.profilepic{
  text-align:center;
  max-width: 100px;
  max-height:100px;
  vertical-align:middle;
  border-radius: 100px;
  overflow:hidden;

}
.profilepic img {
  width: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
}

.kp_maincontent {
  background-color: #fff;
}
.errorMsg{
  color:red;
}